@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*--------------center-----------*/



h2{
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 3em;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-decoration: underline;
}

p{
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 2em;
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-decoration: none;
}



/*---------------header-----------*/

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 90px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.6);
	border-bottom: 1px solid #fff;
}
nav .logo{
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}
nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;	
}
nav ul li{
	line-height: 80px;
	color: white;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
nav ul li a {
	color: white;
}
nav ul li a:hover{
	background: rgba(0,0,0,0.8);
	border-radius: 6px;
	transition: 0.5s;
}
section{
	width: 100%;
	height: 100vh;
		
}


/*------------footer-------------*/

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	height:17vh;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: white;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.socials li{
	margin: 0 20px;
}
.socials a{
	text-decoration: none;
	color: white;
}
.socials a i{
	font-size: 1.5rem;
	transition: color .4s ease;
}
.socials a:hover i{
	color: aqua;
}
.footer-bottom{
	background: black;
	width: 100vw;
	padding:  0;
	text-align: center;
	height: -5vh;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 1px;
	text-transform: capitalize;
	top: 70%;
	text-decoration: none;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}